* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  font-family: sans-serif;
  color: white;
}

.location {
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  border: 3px solid white;
}

.location-header {
  display: flex;
  border: 3px solid white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.details, .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.details {
  border-right: 3px solid white;
}


.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}